body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
}


#loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
.table {
    height: 568px;
    width: 95%;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 32px auto; /* Center horizontally */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box-shadow for the bar effect */
    overflow: hidden; /* Hide overflow to prevent shadow overflow */
}

.table-head {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 10px;
}

.table-headtext {
    font-weight: 500;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse; /* Collapse table borders */
}

th,
td {
    padding: 10px 50px 10px 10px;
    border-bottom: 2px solid #d0d3d9; /* Add border to the bottom of each cell */
    position: relative; /* Set position to relative for pseudo-element */
}

/* Remove border from the last row */
tr:last-child th,
tr:last-child td {
    border-bottom: none;
}

/* Add bar between rows using pseudo-element */
tr:not(:last-child) th::after,
tr:not(:last-child) td::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px; /* Adjust the position of the bar */
    height: 2px; /* Height of the bar */
    background-color: #d0d3d9; /* Color of the bar */
}




.btn-get-id {
    background-color: #5D5FEF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-get-id:hover {
    background-color: darkblue;
  }
  
  .btn-get-id:active {
    background-color: navy;
  }
  